<ul id="expired" class="well">
  <% if @expired.size > 0 %>
    <%= render :partial => "payments/payment", :collection => @expired, as: :payment %>
  <% else %>
    <li class="payment media">Hurra! non ci sono ritardi nei pagamenti</li>
  <% end %>
</ul>

<div class="row-fluid">
  <div class="span12">
    <%= render :partial => 'payments/calendar' %>
  </div>
</div>