fattura n. <%= invoice.number %> del <%= l invoice.date, format: '%d %B %Y' %>
<ul class="actions">
  <li>
    <%= link_to edit_invoice_path(invoice), remote: true, class: 'btn btn-mini' do %>
      <i class="icon-pencil" title="Modifica"></i> modifica
    <% end %>
  </li>
</ul>