<div class="invoice-popover">
  <%= render partial: 'clients/details-data', locals: { client: invoice.client } %>
  <div class="invoice">
    <div class="row-fluid">
      <span class="span12">totale fattura: <%= write_currency invoice.amount %></span>
    </div>
    <div class="row-fluid">
      <span class="span12">
        <%= show_note invoice.note %>
      </span>
    </div>
  </div>
  <%= render partial: 'invoices/list-payments', locals: { invoice: invoice } %>
</div>