fattura n. <%= invoice.number %> del <%= invoice.date.strftime('%d %B %Y') %>
<ul class="actions">
  <li>
    <%= link_to edit_invoice_path(invoice), remote: true do %>
      <i class="icon-eye-open" title="Dettagli"></i>
    <% end %>
  </li>
  <li>
    <%= link_to edit_invoice_path(invoice), remote: true do %>
      <i class="icon-pencil" title="Modifica"></i>
    <% end %>
  </li>
</ul>