<div class="value">
  totale fattura: <%= write_currency invoice.amount %>
</div>
<div class="note">
  <%= invoice.note.blank? ? 'nessuna nota' : invoice.note %>
</div>
<ul class="list-payments">
  <% if (invoice.num_payments > 0) %>
    <% invoice.payments.each do |m| %>
      <li>
        <%= m.v_date %> - <%= write_currency m.value %>
      </li>
    <% end %>
  <% else %>
    <li>nessuna rata specificata</li>
  <% end %>
</ul>