var $invoice_form = $('#invoice-form');
if ($invoice_form.length <= 0) {
  $invoice_form = $('<div class="modal container" id="invoice-form"></div>').appendTo($('body'))
}
$invoice_form.html("<%= escape_javascript(render partial: 'form') %>").on('hidden', function(e) { $(this).remove(); } ).modal();


window.tellMe.init_everything($invoice_form);

$('#invoice_client_id').select2({
  formatResult: function(state) {
    if (!state.id) return state.text + "&nbsp;";
    var $originalOption = $(state.element);
    var p = "<span>"+state.text+"</span>";
    p += ($originalOption.data('address') ? ("<span style='display:block;font-size:10px;line-height:16px'>" + $originalOption.data('address') + "</span>") : '')
    p += ($originalOption.data('note') ? ("<span style='display:block;font-size:10px;line-height:16px;padding-bottom:5px'>" + $originalOption.data('note') + "</span>") : '')
    return p
  },
  formatSelection: function(state) {
    if (!state.id) return state.text + "&nbsp;";
    var $originalOption = $(state.element);
    var p = "<span>"+state.text+"</span>";
    p += ("<span style='display:block;font-size:10px;line-height:16px'>" + ($originalOption.data('address') ? $originalOption.data('address') : '&nbsp;' ) + "</span>")
    p += ("<span style='display:block;font-size:10px;line-height:16px;padding-bottom:5px'>" + ($originalOption.data('note') ? $originalOption.data('note') : '&nbsp;') + "</span>")
    return p
  },
  escapeMarkup: function(m) { return m; }
});