<ul class="actions">
  <li>
    <%= link_to edit_client_path(client), remote: true do %>
      <i class="icon-eye-open" title="Dettagli"></i>
    <% end %>
  </li>
  <li>
    <%= link_to edit_client_path(client), remote: true do %>
      <i class="icon-pencil" title="Modifica"></i>
    <% end %>
  </li>
</ul>