&nbsp;
<ul class="actions">
  <li>
    <%= link_to client_path(client), remote: true, class: 'btn btn-mini' do %>
      <i class="icon-eye-open" title="Dettagli"></i> dettagli
    <% end %>
  </li>
  <li>
    <%= link_to edit_client_path(client), remote: true, class: 'btn btn-mini' do %>
      <i class="icon-pencil" title="Modifica"></i> modifica
    <% end %>
  </li>
</ul>