var $client_form = $('#client-form');
if ($client_form.length <= 0) {
  $client_form = $('<div class="modal" id="client-form"></div>').appendTo($('body'))  
}
$client_form.html("<%= escape_javascript(render partial: 'form') %>").on('hidden', function(e) { $(this).remove(); } ).modal();

window.tellMe.init_everything($client_form);