<ul>
  <% total = 0 %>
  <% payments.each do |payment| %>
    <% total = total + payment.value %>
    <%= render partial: 'payments/payment', locals: { payment: payment, source: 'timeline' } %>
  <% end %>
</ul>
<% unless total == 0 %>
  <div class="total">
    <span class="lab">totale:</span>
    <span class="value"><%= write_currency total %></span>
  </div>
<% end %>