@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";

html, body {
  height: 100%;
  font-size: 13px;
}

form {
  margin:0;
}

.form-cliente {

  .iva, .cf {
    input {
      text-transform: uppercase;
    }
  }
}

#flash_hook {
  position:fixed;
  bottom:0;
  width:600px;
  right:10px;
  z-index:2000;
}

.select2-container {
  width:100%;
}

.select2-container a.select2-choice {
  height:auto;
}

textarea.expand {
  height:30px;
}

textarea.note {
  background:image-url('note.png') no-repeat 5px 8px;
  padding-left: 25px;
}

input {
  &.date, &.currency {
    padding-right: 25px;
    background-position: 99% 6px;
    background-repeat:no-repeat;
  }

  &.date {
    background-image:image-url('calendar.png');
  }

  &.currency {
    background-image:image-url('euro.png');
    text-align:right;
  }
}

.marked_for_destruction {
  display: none;
}

#expired {
  margin: 0 0 30px 0;

  & > :first-child {
    border:0;

    &:hover {
      background-color:transparent;
    }
  }
}

.navbar .btn {
  font-size: 13px;
}


.payment.media {
  overflow: visible;
  list-style-type:none;
  margin:0;
  padding:3px 0;
  border-top: 1px solid #CCC;
  position:relative;



  .label {
    min-width: 100px;
    text-align:center;
    margin:3px 0 0 5px;
  }

  h4 {
    font-size: 15px;
    margin-bottom: 2px;

    .client {
      cursor:pointer;
    }
  }

  .value {
    color: #b94a48;
    min-width: 100px;
    margin-right: 10px;
    display: inline-block;
    text-align: right;
  }

  .info {
    margin-left: 113px;
    cursor:pointer;
  }

  .actions {
    position:absolute;
    right:5px;
    top: 50%;
    margin:-13px 0 0 0;
    padding:0;
    height:20px;
    width:200px;
    display: none;
    list-style-type: none;
    text-align: right;

    li {
      display: inline-block;
      //margin-left:5px;
    }
  }

  &:hover {
    background-color:#F0F1EB;
    @include border-radius(3px);

    .actions {
      display: block;
    }
  }
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}

.payment.media .popover {
  cursor:default;

  .popover-title {
    position: relative;
    line-height: 18px;
    font-size: 13px;
  }

  .popover-content {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
  }

  .actions {
    display: block;
  }
}

ul.list-payments {
  border-top:1px dotted #CCC;
  margin: 5px 0 0 0;
  padding: 5px 0 0 18px;
  list-style-type: none;
  background:image-url('glyphicons_114_list.png') no-repeat 0 9px;

  .label {
    font-weight:normal;
    font-size:11px;
    padding:0;
    margin:0 0 3px 0 !important;
    min-width:1px !important;

    &.label-nocolor {
      background-color:transparent;
      color: #333;
      text-shadow: none;
    }
  }
}

div.value {
  background:image-url('glyphicons_226_euro.png') no-repeat 0 0;
  padding-left:18px;
  margin-bottom:3px;
}
div.note {
  background:image-url('comments.png') no-repeat 0 3px;
  padding-left: 18px;
  margin-bottom:3px;
}


#timeline {
  height:500px;
  overflow-y:hidden;
  position:relative;
  @include box-shadow(inset 0 2px 2px -1px rgba(0, 0, 0, .1));

  .t-month {
    position:relative;
    border-bottom: 1px solid #CCC;
    @include opacity(0.5);

    &.active {
      @include opacity(1);

      .date {
        .year {
          color: darken(#EEE, 20%);
        }
        .month {
         color: darken(#CCC, 20%);
        }
      }
    }

    .total {
      position:absolute;
      bottom:20px;
      right:720px;

      .value {
        padding-left:5px;
        font-size:17.5px;
        font-weight:bold;
      }
    }
  }

  .date {
    padding-top:20px;

    span {
      display: block;
      text-align: right;
    }

    .year {
      font-size:46px;
      letter-spacing:0;
      line-height:46px;
      font-weight:bold;
      color:darken(#EEE, 8%);
    }
    .month {
      font-size:26px;
      line-height:16px;
      letter-spacing:1px;
      color:darken(#CCC, 10%);
    }
  }

  .payments {
    border-left: 1px solid #CCC;
    min-height: 150px;

    & > ul {
      margin-left: 0;
    }
  }

  .payment.media {
    border:0;
    padding:15px 0;
  }

  .label-info {
    visibility: hidden;
  }

  .actions {
    top:auto;
    bottom:10px;
    margin:0;
  }
}

.icon-checked {
  width:18px;
  background:image-url('checked.png') 0 0;
}
.icon-checked-mini {
  width:12px;
  height:10px;
  background:image-url('checked-mini.png') 0 0;
}
.icon-unchecked {
   background:image-url('unchecked.png') 0 0;
}
.icon-unchecked-mini {
  width:10px;
  height:10px;
  background:image-url('unchecked-mini.png') 0 0;
}

.invoice-popover, #client-details {

  .client, .invoice {
    .row-fluid {
      margin-bottom: 5px;

      [class*="span"] {
        min-height: 20px;
      }
    }
  }

  .invoice {
    .row-fluid {
      margin-bottom:0;
    }
  }

  .client {
    span.expand {
      text-align: right;
      a.expand {
        i {
          background-position: -313px -119px;
        }
        &:after {
          //content: ' espandi';
        }
      }
      a.collapse {
        i {
          background-position: -288px -120px;
        }
        &:after {
          //content: ' comprimi';
        }
      }
    }
    .name {
      font-weight: 600;
    }
    .exp {
      border-bottom:1px dotted #CCC;
      margin-bottom:10px;
      display: none;
    }
    .hourly_cost {
      text-align:right;
    }
  }

  pre {
    margin:0;
    display: inline-block;
    border:0;
    padding:0;
    min-height: 20px;
    background-color: transparent;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    &.note {
      background: image-url('comments.png') no-repeat 0 3px;
      padding-left: 25px;
    }
  }
}

#client-details {

  .invoices {
    list-style-type: none;
    margin:0;
    padding:0;

    & > li {
      border-bottom:1px solid #CCC;
      padding:10px;

      .actions {
        display: none;
      }

      &:hover {
        background-color:#F0F1EB;

        .actions {
          display: block;
        }
      }
    }

    & > li:first-child {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.fields {
  clear:both;
}
.span1.checkbox {
  width:20px;
  padding:0;
}