@import "compass_twitter_bootstrap";

.form-cliente {
  
  .iva, .cf {
    input {
      text-transform: uppercase;
    }
  }

  .currency {
    input {
      text-align: right;
    }
  }
}



.select2-container {
  width:100%;
}

.select2-container a.select2-choice {
  height:auto;
}


textarea.note {
  height:20px;
}

.marked_for_destruction {
  display: none;
}