@import "compass_twitter_bootstrap";

.form-cliente {
  .input-xxlarge {
    width:510px;
  }

  .iva, .cf {
    input {
      text-transform: uppercase;
    }
  }

  .currency {
    input {
      text-align: right;
    }
  }
}